<div class="container">

  <!-- section title -->
  <h2 class="section-title wow fadeInUp">Services</h2>

  <div class="spacer-60"></div>

  <div class="row">

    <div class="col-md-6">
      <!-- service box -->
      <div class="service-box rounded data-background padding-30 text-center text-light shadow-blue bg-blue">
        <img src="assets/images/price-1.svg" alt="UI/UX design" />
        <h3 class="mb-3 mt-0">Data Analysis</h3>
        <p class="mb-0">I can help you to get insights from your datas and use my knowledge to support you in decision making by using artificial intelligence techniques such as machine learning.</p>
      </div>
      <div class="spacer-30 d-md-none d-lg-none"></div>
    </div>

    <div class="col-md-6">
      <!-- service box -->
      <div class="service-box rounded data-background padding-30 text-center shadow-yellow bg-yellow">
        <img src="assets/images/service-2.svg" alt="UI/UX design" />
        <h3 class="mb-3 mt-0"> Application Development</h3>
        <p class="mb-0">I pull the best from front end framework like Angular to build responsive website.I can also do the work in the backend with Spring Boot, FastAPI</p>
      </div>
      <div class="spacer-30 d-md-none d-lg-none"></div>
    </div>


  </div>

  <div class="mt-5 text-center">
    <p class="mb-0">Looking for a custom job? <a href="javascript:" (click)="scrollTo('contact')">Click here</a> to contact me! 👋</p>
  </div>

</div>
